.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/blob-scene-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}


.App-link {
  color: #61dafb;
}

.main-content{
  display: flex;
  border-radius: .5em;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em;
  transform: scale(2);
  box-shadow: 7px 7px 8px -3px rgba(0,0,0,0.75);
}

button{
  padding: .7em 1.7em;
  border: none;
  border-radius: .5em;
  background-color: #1975ff;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  margin: 1em 0;
}

button:hover{
  background-color: #3c8aff;
  transition: all .2s;
}

input{
  padding: 1em 2em;
  border: 1px solid black;
  border-radius: .5em;
  
}

input:focus{
  outline: none;
}

a{
  padding: .7em 1.7em;
  border: none;
  border-radius: .5em;
  height: max-content;
  width: max-content;
  background-color: #1975ff;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
}
a:hover{
  background-color: #3c8aff;
  transition: all .2s;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 